<section>

    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <h2 class=" font-weight-bold text-justify">Login</h2>
            <input type="text" placeholder="Username" [class.is-invalid]="username.invalid && username.touched" formControlName="username"
              class="form-control">
            <div *ngIf="username.invalid && username.touched">
              <small class="text-danger" *ngIf="username.errors?.required">Username is required</small>
            </div>
          </div>
          <ng-container *ngIf="btnText=='Proceed'">
            <input type="text" placeholder="Password" [class.is-invalid]="password.invalid && password.touched" formControlName="password"
              class="form-control">
            <div *ngIf="password.invalid && password.touched">
              <small class="text-danger" *ngIf="password.errors?.required">password is required</small>
            </div>
          </ng-container>
          <ng-container *ngIf="isNewUser">
            <input type="text" [class.is-invalid]="password.invalid && password.touched" formControlName="password"
              class="form-control">
            <div *ngIf="password.invalid && password.touched">
              <small class="text-danger" *ngIf="password.errors?.required">password is required</small>
            </div>
          </ng-container>
  
          <div class="text-right">
            <button type="button" class="btn btn-outline-dark" [disabled]="!loginForm.valid" (click)="next()">{{btnText}}</button>
          </div>
  
        </form>
      </div>
    </div>
  
  </section>
  