.reviewForm{
    padding-top:10px;
    // border: 1px black solid;
}
.card{
    width: 80%;
    // height: 90%;

}
section{
    margin: 5%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    // align-items: center;
}

button{
    margin-top: 5%;
    margin-right:0.5% ;
}

.req{
    color: red;
}

.req1{
    color: red;
}